#adminmenu li.toplevel_page_x-data img {
  width: 18px;
  margin-top: -1px;
}

.home-theme-wdes {
  margin: 40px 30px 0 10px;
}

.intro-msg {
  background: #435ebf;
  background: -webkit-linear-gradient(to left, #435ebf, #4d6ad2);
  background: linear-gradient(to left, #435ebf, #4d6ad2);
  padding: 20px;
  width: 100%;
  float: left;
}

.logo {
  float: right;
  text-align: right;
}

.logo img {
  height: 30px;
}

.logo h2 {
  font-family: Open sans, sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  margin: 10px 0 0;
  text-align: center;
}

.intro-msg .title {
  float: left;
}

.intro-msg .title h2 {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  color: #fff;
  margin: 5px 0 0 0;
}

.intro-msg .title p {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 6px 0 0 0;
  text-align: right;
}

.wdes-nav-tabs-w {
  background: #2e3234;
  margin: 0;
  padding: 0;
  list-style: none;
}

.wdes-nav-tabs-w li {
  margin: 0;
  padding: 0;
}

.wdes-nav-tabs-w li a {
  color: #76828f;
  font-family: Poppins, sans-serif;
  font-size: 13px;
}

.wdes-nav-tabs-w li a span {
  margin-right: 3px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background: transparent;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background: transparent;
}

.content-bg-tab-x {
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  padding: 30px;
}

.title-in h2 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  color: #333;
  margin: 0;
}

.title-in h2 span {
  margin-right: 5px;
}

.title-in p {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #7e7e7e;
  margin: 0;
}

form.register-api {
  margin-top: 30px;
}

form.register-api input[type="text"] {
  background: #fff;
  border: 1px solid #e7e7e7;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: #7e7e7e;
  padding: 9px 15px;
  border-radius: 25px;
  min-width: 250px;
}

form.register-api a,
.register-api a {
  background: #37ecba;
  /* Old browsers */
  background: -moz-linear-gradient(-90deg, #37ecba 0%, #72afd3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear,
      left left,
      left right,
      color-sleft(0%, #37ecba),
      color-sleft(100%, #72afd3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-90deg, #37ecba 0%, #72afd3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-90deg, #37ecba 0%, #72afd3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-90deg, #37ecba 0%, #72afd3 100%);
  /* IE10+ */
  background: linear-gradient(-90deg, #37ecba 0%, #72afd3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2af598', endColorstr='#009efd', GradientType=0);
  padding: 9px 30px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 15px;
  display: table;
}

.block-docs {
  background: #fff;
  margin: 30px 0;
  border-radius: 2px;
  text-align: center;
  border: 1px dashed #e7e7e7;
}

.block-docs a {
  text-decoration: none;
  display: inline-block;
  padding: 30px;
}

.block-docs a:hover {
  text-decoration: none;
}

.block-docs a i {
  font-size: 36px;
  background: #435ebf;
  background: -webkit-linear-gradient(to left, #435ebf, #4d6ad2);
  background: linear-gradient(to left, #435ebf, #4d6ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block-docs a h2 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 25px 0 0;
}

.block-docs a p {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: #76828f;
  margin: 20px 0 0;
  line-height: 28px;
}

.block-p {
  background: #fff;
  margin: 30px 0;
  border-radius: 2px;
  text-align: center;
  border: 1px dashed #e7e7e7;
  padding: 20px;
}

.block-p img {
  max-height: 50px;
  margin-bottom: 20px;
}

.block-p h4 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
}

.block-p p {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: #7e7e7e;
  margin: 15px 0 0;
}

.block-p a {
  background: linear-gradient(90deg, #7cb9d7 0, #37ecba 100%);
  padding: 7px 30px;
  color: #fff;
  border-radius: 4px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.wdes-table-welcome-page {
  background: #fff;
  border: 1px solid #e7e7e7;
  margin: 30px 0;
}

.wdes-table-welcome-page thead tr th {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: #333;
  padding: 15px;
}

.wdes-table-welcome-page tbody tr td {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: #7e7e7e;
  padding: 15px;
  line-height: 27px;
}

.wdes-table-welcome-page tbody tr td span {
  font-weight: 600;
  margin-top: 8px;
}

.wdes-table-welcome-page tbody tr td .fa-check-circle {
  color: #008000;
  font-size: 15px;
  margin-right: 10px;
}

.wdes-table-welcome-page tbody tr td .fa-info {
  color: #ffae1d;
  font-size: 15px;
  margin-right: 10px;
}

.wdes-table-welcome-page tbody tr td .fa-close {
  color: #ff0000;
  font-size: 15px;
  margin-right: 10px;
}

.wdes-about-widget-display {
  display: table;
  width: 100%;
}

/* Smart Phones */
@media only screen and (min-width: 160px) and (max-width: 767px) {
  .title {
    float: none;
    width: 100%;
    text-align: center;
  }

  .title p {
    text-align: center;
  }

  .logo {
    float: none;
    text-align: center;
    margin-top: 20px;
  }

  form.register-api input[type="text"],
  form.register-api a {
    width: 100%;
    display: block;
    margin: 10px 0;
  }
}

.wdes-nav-tabs-w>li.active>a,
.wdes-nav-tabs-w>li.active>a:focus,
.wdes-nav-tabs-w>li.active>a:hover {
  background: transparent !important;
}

.wdes-nav-tabs-w>li>a:focus,
.wdes-nav-tabs-w>li>a:hover {
  background: transparent !important;
}

.wdes-nav-tabs-w .wp-person a:focus .gravatar,
.wdes-nav-tabs-w a:focus,
.wdes-nav-tabs-w a:focus .media-icon img {
  box-shadow: none !important;
}

/* ---------------------------------------------
 Color Picker
------------------------------------------------ */
.wdes-alpha-container {
  box-sizing: padding-box;
  display: none;
  border: 1px solid #dfdfdf;
  border-top: none;
  background: #ffffff;
  padding: 8px 11px 6px;
  width: 257px;
  position: absolute;
  z-index: 15;
}

.rtl .wdes-alpha-container {
  right: 0;
}

.wdes-alpha-container .transparency {
  height: 24px;
  width: 100%;
  background-color: #ffffff;
  background-image: url(../images/transparency-grid.png);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  border-radius: 3px;
  padding: 0;
}

.wdes-alpha-container .ui-slider-handle {
  color: #777;
  background-color: #ffffff;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  position: absolute;
  z-index: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #aaa;
  border-radius: 4px;
  opacity: 0.9;
  margin-top: -2px;
  height: 20px;
  cursor: ew-resize;
  font-size: 12px;
  padding: 3px;
}

.wdes-alpha-container .ui-slider {
  position: relative !important;
  text-align: center !important;
  width: 88% !important;
  border: 0 none !important;
  background: transparent !important;
  border-radius: 0 !important;
}

.wp-picker-container .wp-picker-open~div.wdes-alpha-container {
  display: block;
}

.wp-picker-container {
  float: left;
}

.img-flr.wdes-screenshot {
  max-height: 100px;
}

a.fileUpload.func-up {
  text-decoration: none;
  background: #f8f8f8;
  color: #7e7e7e;
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  transition: all 0.3s;
}

a.fileUpload.func-up:hover {
  border: 1px solid #333;
}

/* Switcher */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ced4d9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background: #435ebf;
}

input:focus+.slider {
  box-shadow: 0 0 1px #435ebf;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}