/* Mega Menu Options */
.wdes-menu-element {
  background: #f8f8f8;
  padding: 10px;
  display: inline-block;
  margin-right: 0 !important;
  width: 92%;
  border: 1px solid #e7e7e7;
}

.wdes-menu-element label {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #7e7e7e;
}

.wdes-menu-element input,
.wdes-menu-element select,
.wdes-menu-element input[type="radio"],
.wdes-menu-element input[type="checkbox"],
.wdes-menu-element textarea {
  background: #fff;
  border: 1px solid #e7e7e7;
  padding: 7px 10px;
  border-radius: 2px;
  margin-top: 7px;
  box-shadow: none;
}

.field-mega input[type="checkbox"] {
  float: right;
  margin-top: -19px !important;
}

.wdes-menu-element .wp-picker-container .wp-color-result.button {
  margin-top: 7px;
}

.wdes-menu-element textarea {
  height: 70px;
}
