/* Smart Phones */

@media only screen and (min-width: 160px) and (max-width: 767px) {
    .container-bg {
        margin: 40px 10px 0 0;
    }
    .block-topw {
        margin-top: 30px;
    }
    .right-block-c {
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    .input-c {
        float: left;
        width: 85% !important;
        margin: 0 10px 10px 0;
    }
    .input-c-span {
        float: left;
        margin-top: 12px;
    }
    .left-block-c {
        margin-right: 0 !important;
        width: 100%;
    }
    .sidebar-wh {
        width: 100%;
        padding: 0;
        background: #23282D;
    }
    .nav-sidebar-wh {
        margin: 0;
    }
    .field-c-radio label img {
        width: 100%;
    }
    .radio-btn-custom {
        margin-bottom: 10px;
        margin-right: 10px;
    }
    label.check-c {
        display: block !important;
        margin: 10px !important;
    }
    .right-block-c input[type="checkbox"] {
        margin-left: -35px !important;
    }
    select.option-c {
        margin: 10px 0;
    }
    .custom2-block-function-option .btn-group {
        width: 100%;
    }
    .custom-block-function-option label {
        margin: 0 10px 10px 0;
    }
    .textarea-c {
        width: 100%;
    }
}

/* iPads (landscape) */

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .block-topw {
        margin-top: 30px;
    }
    .custom-block-function-option label {
        margin: 0 10px 10px 0;
    }
}