/*
Theme Name: Phox - Admin
Theme URI: http://whmcsdes.com
Description: Phox Wordpress theme
Version: 1.0
Author: WHMCSdes
Author URI: http://whmcsdes.com
Tags: powerful
*/
/*------------------------------------------------------------------

[Table of contents]

1. Fonts
2. Body
3. Header
4. Sidebar
5. Main Content
6. Functions

-------------------------------------------------------------------*/
a:focus {
  outline: none;
  box-shadow: none;
}

.container-bg {
  background: #f8f8f8;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  margin: 40px 20px 0 0;
}

.fixed-bg-layout {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  min-height: 700px;
}

#wpfooter {
  position: relative;
}

/* Header */
.wh-nav {
  background: #435ebf;
  background: -webkit-linear-gradient(to left, #435ebf, #4d6ad2);
  background: linear-gradient(to left, #435ebf, #4d6ad2);
  padding: 10px 0;
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.wh-nav .navbar-brand {
  height: auto;
}

.navbar-brand {
  padding: 5px 15px;
}

.version-wh {
  font-family: open sans, sans-serif;
  font-size: 12px;
  float: right;
  color: #fff;
  font-weight: 600;
  margin-top: 9px;
}

.version-wh .far.fa-heart {
  padding-right: 7px;
  font-size: 15px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/* SideBar */
@media (min-width: 768px) {
  .sidebar-wh {
    display: block;
    padding: 0 17px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #23282d;
    position: absolute;
    height: 100%;
    float: left;
  }
}

.nav-sidebar-wh {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-left: -20px;
}

.nav-sidebar-wh>li {
  margin-bottom: 0;
}

.nav-sidebar-wh>li>a {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #76828f;
  font-weight: 400;
}

.nav-sidebar-wh>.active>a,
.nav-sidebar-wh>.active>a:hover,
.nav-sidebar-wh>.active>a:focus {
  color: #fff;
  background-color: #14171a;
  border-left: 6px solid #435ebf;
}

.nav-sidebar-wh li a:hover {
  color: #fff;
  background-color: #14171a;
}

.wh-icons {
  padding-right: 10px;
  font-size: 16px !important;
  color: #76828f;
}

.nav>li>a {
  padding: 16px 17px;
}

.legned-icon {
  background: #86c724;
  color: #fff;
  padding: 4px 11px;
  border-radius: 25px;
  margin-left: 15px;
}

.legned-icon2 {
  background: #e99614;
  color: #fff;
  padding: 4px 11px;
  border-radius: 25px;
  margin-left: 15px;
}

.legned-icon3 {
  background: #d0566b;
  color: #fff;
  padding: 4px 11px;
  border-radius: 25px;
  margin-left: 15px;
}

/* Main content */
.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    float: right;
  }
}

.main .page-header {
  margin-top: 0;
}

.block-topw {
  background: #f8f8f8;
  padding: 25px;
  width: 100%;
  border: 1px solid #e7e7e7;
}

.block-topw h2 {
  font-family: Rubik, sans-serif !important;
  font-weight: 500;
  font-size: 16px !important;
  margin: 0 0 25px 0 !important;
  text-transform: uppercase !important;
}

.block-topw img {
  height: 60px;
}

.block-topw a {
  text-decoration: none;
  font-family: Rubik;
  float: right;
  font-weight: 600;
  font-size: 40px;
  color: #ed7161;
  position: absolute;
  top: 34%;
  right: 39px;
}

.t2o-block {
  background: #fff;
  padding: 25px;
  margin-top: 30px;
}

.title-block-o2t {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}

.custom-table-o2t tr th {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 0 0 25px 0;
  text-transform: uppercase;
  color: #666666;
  border-bottom: 1px solid #e4e7ea;
}

.custom-table-o2t tr td,
.custom-table-o2t tr td a {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 0 0 25px 0;
  color: #7e7e7e;
  text-decoration: none;
}

.status-o2b {
  border-radius: 25px;
  color: #fff;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  padding: 4px 12px;
  font-size: 12px;
}

.status-o2b.t1-o {
  background: #41b3f9;
}

.status-o2b.t2-o {
  background: #f33155;
}

.status-o2b.t3-o {
  background: #7ace4c;
}

.sales-y {
  margin-top: 10px;
}

/* Function */
.box-overall {
  float: left;
  width: 100%;
}

.block-function {
  display: inline-block;
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 20px;
  margin: 10px 0;
  transition: all 0.3s;
  background: #fff;
}

.title-sub-section {
  margin: 0;
  font-family: montserrat, sans-serif;
  color: #7e7e7e;
  font-size: 18px;
  border-left: 3px solid #7e7e7e;
  padding-left: 15px;
  float: left;
  font-weight: 700;
}

.func-text {
  float: left;
  display: inline-block;
}

.func-text h2 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
}

.func-text p {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #7e7e7e;
  font-size: 13px;
}

.fun-switch {
  float: right;
  margin-top: 20px;
}

input[type="checkbox"].ios8-switch {
  position: absolute;
  margin: 8px 0 0 16px;
}

input[type="checkbox"].ios8-switch+label {
  position: relative;
  padding: 5px 0 0 50px;
  line-height: 2em;
}

input[type="checkbox"].ios8-switch+label:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 40px;
  /* x*5 */
  height: 24px;
  /* x*3 */
  border-radius: 16px;
  /* x*2 */
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 24px;
  /* x*3 */
  height: 24px;
  /* x*3 */
  border-radius: 16px;
  /* x*2 */
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:hover:after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios8-switch:checked+label:after {
  margin-left: 16px;
}

input[type="checkbox"].ios8-switch:checked+label:before {
  background: #55d069;
}

input[type="checkbox"].ios8-switch-lg {
  margin: 10px 0 0 20px;
}

input[type="checkbox"].ios8-switch-lg+label {
  position: relative;
  padding: 7px 0 0 60px;
  line-height: 2.3em;
}

input[type="checkbox"].ios8-switch-lg+label:before {
  width: 50px;
  /* x*5 */
  height: 30px;
  /* x*3 */
  border-radius: 20px;
  /* x*2 */
}

input[type="checkbox"].ios8-switch-lg+label:after {
  width: 30px;
  /* x*3 */
  height: 30px;
  /* x*3 */
  border-radius: 20px;
  /* x*2 */
}

input[type="checkbox"].ios8-switch-lg+label:hover:after {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios8-switch-lg:checked+label:after {
  margin-left: 20px;
  /* x*2 */
}

.form-function {
  margin-top: 20px;
}

.text-box-flr {
  float: right;
  margin-top: 20px;
}

.input-cloud {
  background: #f8f8f8;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: #7e7e7e;
  font-size: 15px;
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
  border-radius: 25px;
  margin-right: 10px;
}

.text-box-flr span {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: #7e7e7e;
  font-size: 13px;
}

.btns-cloud {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #e7e7e7;
}

.save-btns-c {
  background: #435ebf;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border: 0;
  padding: 10px 25px;
  transition: all 0.3s;
  border-radius: 35px;
  text-transform: uppercase;
  outline: none;
  float: right;
}

.save-btns-c span {
  font-size: 16px;
  padding-right: 11px;
}

.save-btns-c:focus,
.save-btns-c:hover {
  background: #333;
}

.reset-btns-c {
  background: #d0566b;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: 0;
  padding: 12px 25px;
  border-radius: 25px;
}

.fun-radio-check {
  margin-top: 10px;
  float: right;
}

/* Function Block */
.block-function-c {
  display: inline-block;
  width: 100%;
  transition: all 0.3s;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 15px;
}

.block-function-c::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
}

.left-block-c {
  float: left;
  width: 250px;
}

.left-block-c h2 {
  font-family: open sans, sans-serif;
  color: #333;
  font-size: 14px !important;
  font-weight: 600 !important;
  margin: 0 !important;
  line-height: 27px !important;
  padding: 0 !important;
}

.left-block-c p {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #7e7e7e;
  font-size: 13px;
  margin: 4px 0 2px 0;
  line-height: 22px;
}

.left-block-c p b {
  color: #df3333;
}

.left-block-c a {
  text-decoration: none;
  color: #397bd5;
  font-family: Open sans, sans-serif;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 3px;
}

.right-block-c {
  float: left;
  margin-left: 20px;
  margin-top: 7px;
  width: calc(100% - 350px);
}

/* Switcher */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ced4d9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background: #435ebf;
}

input:focus+.slider {
  box-shadow: 0 0 1px #435ebf;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Radio */
.radio-btn-custom {
  background: #fff;
  border: 1px solid #e7e7e7;
  color: #7e7e7e;
  font-family: open sans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 0;
}

.radio-btn-custom.active {
  border: 1px solid #435ebf;
  box-shadow: none !important;
  outline: none !important;
}

.radio-btn-custom:focus {
  outline: none;
}

/* Input */
.input-c {
  background: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #7e7e7e !important;
  font-size: 13px;
  border: 1px solid #e7e7e7 !important;
  padding: 10px;
  border-radius: 3px;
  min-width: 200px;
  box-shadow: none !important;
  transition: all 0.3s !important;
  margin-right: 7px;
}

.input-c:focus,
.input-c:hover,
.option-c:hover,
.option-c:focus {
  border: 1px solid #435ebf !important;
}

.input-c-span {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: #7e7e7e;
  font-size: 13px;
}

/* Select */
.option-c {
  background: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #7e7e7e !important;
  font-size: 13px;
  border: 1px solid #e7e7e7 !important;
  border-radius: 3px;
  box-shadow: none !important;
  transition: all 0.3s !important;
  margin-right: 7px;
}

/* Upload */
.form-function {
  margin-top: 0;
}

a.func-up {
  background: #fff;
  border: 1px solid #e7e7e7;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #7e7e7e;
  font-size: 14px;
  border-radius: 3px;
  padding: 9px 31px;
  text-decoration: none;
  transition: all 0.3s;
}

a.func-up:hover {
  border: 1px solid #435ebf;
}

.func-sub {
  background: transparent;
  border: 2px solid #86c724;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: #86c724;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 6px 25px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.img-flr {
  border: 1px solid #e7e7e7;
  float: left;
  clear: both;
  margin: 20px 0;
  background: #fff;
  display: none;
  max-width: 100% !important;
}

/* TextArea */
.textarea-c {
  background: #fff;
  border: 1px solid #e7e7e7;
  padding: 15px;
  width: 350px;
  box-shadow: none;
  transition: all 0.3s;
}

.textarea-c:hover,
.textarea-c:focus {
  border: 1px solid #72afd3;
}

/* Radio #3 */
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:checked+label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #1da0da;
}

input[type="radio"]+label>img {
  border: 1px solid #e7e7e7;
  transition: 500ms all;
  width: 430px;
}

/* Content */
.bg-info {
  color: #333;
  background-color: #f5f5f5;
  margin: 0 !important;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-family: open sans, sans-serif;
  font-weight: 600;
  font-size: 15px !important;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.check-c {
  margin-right: 25px;
  font-family: Rubik, sans-serif;
  font-size: 13px;
  color: #7e7e7e;
}

span.custom-down-arrow {
  float: right;
  font-size: 17px;
}

.nav.nav-sidebar-wh.nav>li>a:focus {
  color: #fff;
  background-color: #14171a;
  border-left: 6px solid #435ebf;
}

.sub-menu {
  background: #111416;
  padding: 0;
  margin: 0;
}

.sub-menu li a {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #76828f;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  background: transparent !important;
  display: block;
  padding: 10px 0 10px 15px;
}

.right-block-c input[type="checkbox"] {
  margin-top: 0;
}

.postbox .inside .container,
.postbox .inside .container .col-sm-7.col-md-8 {
  width: auto !important;
}

/* Builder */
.wdes-builder-option {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  font-family: Open sans, sans-serif;
  padding: 30px 0;
}

.wdes-builder-option:nth-last-child(1) {
  border-bottom: 0;
}

.data-dir-l {
  float: left;
}

.wdes-builder-option label {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.wdes-builder-option p {
  color: #7e7e7e;
  font-weight: 400;
  margin: 5px 0 0;
  font-size: 12px;
}

.wdes-builder-option input[type="text"],
.wdes-builder-option select,
.wdes-builder-option textarea {
  border: 1px solid #e7e7e7;
  box-shadow: none;
  padding: 7px 10px;
  font-size: 13px;
  color: #7e7e7e;
  margin-left: 50px;
  width: 250px;
  background: #f8f8f8;
  margin-top: 5px;
  transition: all 0.3s;
  border-radius: 0;
}

.wdes-builder-option input[type="text"]:hover,
.wdes-builder-option input[type="text"]:focus,
.wdes-builder-option select:hover,
.wdes-builder-option select:focus,
.wdes-builder-option textarea:hover,
.wdes-builder-option textarea:focus {
  border: 1px solid #ccc;
  background: #fff;
}

.wdes-builder-option select {
  height: 35px;
}

.wdes-control-group {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}

.control {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-right: 30px;
  padding-top: 3px;
  font-weight: 400 !important;
  font-size: 13px !important;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  background: #ccc;
}

.control input:checked~.control__indicator {
  background: #00d2ff;
  background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
  background: #00d2ff;
  background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
}

.control input:disabled~.control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}

.control input:checked~.control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.control--radio input:disabled~.control__indicator:after {
  background: #7b7b7b;
}

.wdes-builder-option textarea {
  height: 120px;
  width: 350px;
}

/* Switcher */
.wdes-switch-btn {
  display: none !important;
}

.wdes-switch-label {
  width: 88px;
  height: 38px;
  box-sizing: border-box;
  border: 3px solid;
  float: left;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}

input.wdes-switch-btn[type="checkbox"]:checked+.wdes-switch-label {
  background: #1da0da;
}

input.wdes-switch-btn[type="checkbox"]:checked+.wdes-switch-label:before {
  left: 50px;
}

.wdes-switch-label {
  color: transparent !important;
  background: #f8f8f8;
}

.wdes-switch-label:before {
  transition: 0.3s ease;
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  background: #f8f8f8;
  left: 2px;
  top: 2px;
  box-sizing: border-box;
  border: 3px solid;
  color: #e7e7e7;
  border-radius: 100px;
}

.wdes-admin-package {
  background: #fff;
  border: 1px solid #e7e7e7;
  margin: 30px 0;
  border-top: 0;
}

.wdes-admin-package h1 {
  background: #ced4d9;
  margin: 0;
  font-family: open sans, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #4c5461;
  padding: 15px 10px;
  text-transform: uppercase;
}

img.layout-style {
  width: 80px;
}

.custom-block-function-option label {
  margin: 0;
  float: left;
  text-align: center;
}

.custom-block-function-option .radio-btn-custom.active,
.custom-block-function-option .radio-btn-custom:hover {
  background: #fff !important;
  border: 1px solid #435ebf;
  color: #7e7e7e;
  outline: 0;
}

span.wdes-option-span-sub {
  display: block;
  margin-top: 5px;
  color: #7e7e7e;
}

.custom-new-layout-style {
  width: 100%;
  height: 100%;
}

.custom2-block-function-option label {
  padding: 0;
  height: 50px;
  margin: 5px 10px;
  display: inline-block;
}

.custom2-block-function-option .btn-group {
  width: 450px;
}

.form-table {
  padding-bottom: 80px;
}

.form-table input.tog,
.form-table input[type="radio"] {
  margin-top: 2px;
  margin-right: -1px;
  float: none;
}

.tab-title-head {
  font-size: 23px;
  color: #333;
  font-family: Raleway, sans-serif;
  font-weight: 600;
}

.tab-title-head span {
  color: #fff;
  padding: 10px;
  border-radius: 360px;
  margin-right: 7px;
  font-size: 16px;
  background: #435ebf;
  background: -webkit-linear-gradient(to left, #435ebf, #4d6ad2);
  background: linear-gradient(to left, #435ebf, #4d6ad2);
}

.navbar-brand img {
  height: 25px;
}

#footer-offer-block,
#header-topbar-block {
  display: none;
}

.field-c-radio {
  margin-bottom: 16px;
}

.size-in-pixel {
  color: #7e7e7e;
  font-family: open sans, sans-serif;
  font-size: 13px;
  margin-left: 6px;
}

.form-control.demo.minicolors-input {
  background: #fff;
  border: 1px solid #e7e7e7;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #7e7e7e;
  font-size: 14px;
  border-radius: 3px;
  padding: 9px 31px;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: none;
}

.form-control.demo.minicolors-input:hover,
.form-control.demo.minicolors-input:focus {
  border: 1px solid #00d2ff;
}

.wdes-info h2 {
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 15px 0;
  color: #71797d;
  font-weight: 400;
  font-size: 14px;
  border-left: 0;
  background: #f8f8f8;
}

.wdes-info h2::before {
  content: "\f061";
  padding: 9px 15px;
  font-family: FontAwesome;
  display: inline-block;
}

img.layout-style.custom-layout-height {
  height: 100px;
  margin-bottom: 10px;
}

img.layout-style.custom-layout-height-2 {
  height: 100px;
}

label[for="layout_wide"],
label[for="portfolio-layout_cols2"],
label[for="portfolio-layout_cols4"] {
  margin-right: 15px;
}

.import-btn-wdes {
  color: #fff;
  padding: 10px 27px;
  border-radius: 2px;
  font-size: 16px;
  background: #00d2ff;
  background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
  border: 0;
  margin-bottom: 10px;
}

/* Modal */
.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999999999999;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}

.blocker.behind {
  background-color: transparent;
}

.ui-tabs-nav {
  background: #f8f8f8;
  margin: 0;
  border-bottom: 1px solid #e7e7e7;
  display: inline-block;
  width: 100%;
}

.ui-tabs-nav li {
  float: left;
  border-right: 1px solid #e7e7e7;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
}

.ui-tabs-nav li a {
  font-family: Open sans, sans-serif;
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
  color: #383b3c;
  padding: 12px 18px;
  display: inline-block;
}

.ui-state-active,
.ui-state-hover,
.ui-state-focus {
  background: #e7e7e7;
}

.wdes-icon-builder {
  border: 1px solid #e7e7e7;
  float: left;
  margin: 6.5px;
  transition: all 0.3s;
  cursor: pointer;
}

.wdes-icon-builder:hover,
.wdes-icon-builder:focus {
  border: 1px solid #00d2ff;
}

.wdes-icon-builder img {
  margin: 17.34px;
  width: 50px;
  height: 50px;
}

.custom-wdes-icon-builder-2 {
  float: none;
  width: 87px;
  margin: 3px 0 0;
}

#domains-pricing-tables,
#hosting-pricing-tables {
  display: none;
}

[data-toggle="buttons"]>.btn input[type="checkbox"],
[data-toggle="buttons"]>.btn input[type="radio"],
[data-toggle="buttons"]>.btn-group>.btn input[type="checkbox"],
[data-toggle="buttons"]>.btn-group>.btn input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.radio-btn-custom:focus {
  outline: none !important;
  box-shadow: none !important;
}

.cus-block-func-c {
  width: 96%;
}

.wdes-page-add-btn-field {
  background: #678faf;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
  padding: 11px 20px;
  border-radius: 3px;
  box-shadow: none !important;
  transition: all 0.3s !important;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
}

.wdes-page-add-btn-field:hover,
.wdes-page-add-btn-field:focus {
  background: #2fa2f5;
}

.wdes-blocks-add li .list {
  border: 2px solid #5e7180;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}

.wdes-blocks-add li .list input {
  display: block;
  margin-bottom: 5px;
}

.wdes-blocks-add li .list textarea {
  font-size: 13px;
  color: #7e7e7e;
  line-height: 27px;
}

.del-sidebar {
  background: #ec1313;
  border-radius: 360px;
  padding: 10px 0;
  font-size: 16px;
  position: absolute;
  right: -20px;
  top: 3%;
  color: #fff;
  width: 38px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.del-sidebar:hover {
  color: #fff;
  background: #b30909;
}

.wdes-note-page-custom {
  font-size: 12px;
  margin: 10px 0 0 0;
  color: #7e7e7e;
}

/* Input Type [ Range ] */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 200px;
    height: 8px;
    outline: none;
    -webkit-appearance: none;
    background-color: #d4d9de;
    border-radius: 25px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #72afd3;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #5b8ca8;
    box-shadow: -110px 0 0 100px #7db8d8;
  }
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #7db8d8;
}

input[type="range"]::-moz-range-track {
  background-color: #d4d9de;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #7db8d8;
}

input[type="range"]::-ms-fill-upper {
  background-color: #d4d9de;
}

/* Input Type [ Color ] */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  outline: 0;
}

input[type="color"]:nth-child(1) {
  margin-right: 12px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  outline: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  outline: 0;
}

.import-btn-bg {
  background: #7db8d8;
  border: 0;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  padding: 7px 15px;
  border-radius: 3px;
  margin-left: 0;
  margin-top: 4px;
  display: block;
}

.reset-btn-bg {
  background: #df3333;
  border: 0;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  padding: 7px 15px;
  border-radius: 3px;
  margin-left: 0;
  margin-top: 4px;
  display: block;
}

.wdes-moda-control-admin {
  margin-top: 220px;
}

.wdes-moda-control-admin .modal-content {
  box-shadow: none;
  border: 0;
  border-radius: 0;
}

.wdes-moda-control-admin .modal-content .modal-body {
  color: #7e7e7e;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 0;
}

.wdes-moda-control-admin .modal-content .modal-footer .cancel-button {
  background: #df3333;
  border: 0;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  padding: 7px 15px;
  border-radius: 3px;
  margin-left: 0;
  margin-top: 4px;
  display: inline-block;
}

.wdes-moda-control-admin .modal-content .modal-footer .submit-button-foot {
  background: #1abc9c;
  border: 0;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  padding: 7px 15px;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 4px;
  display: inline-block;
}

a.func-up.custom-func-up-ex {
  display: inline-block;
}

li.active a {
  color: #fff;
}

/* Multi Select */

.option-multi-select {
  background: #fff;
  border: 1px solid #e7e7e7;
  min-width: 201px;
  min-height: 107px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #7e7e7e;
  font-size: 13px;
  border-radius: 3px;
  transition: all 0.3s;
}

.option-multi-select:hover {
  border: 1px solid #435ebf;
}

/* Layout Full Select Preview */

.layout-view-xl {
  height: 30px;
  outline: none;
}

.layout-more-height {
  height: 70px;
}

label[for="top-header-layout_top-header-layout-1"],
label[for="top-header-layout_top-header-layout-2"] {
  display: block;
  width: 100%;
}

label[for="top-header-layout_top-header-layout-1"] {
  margin-bottom: 7px;
}