/* General Pupose */
// Fonts
$m-f: "Poppins", sans-serif;
$s-f: "Open Sans", sans-serif;
$t-f: "Karla", sans-serif;

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?gm7fsa");
  src: url("../fonts/icomoon.eot?gm7fsa#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?gm7fsa") format("truetype"),
    url("../fonts/icomoon.woff?gm7fsa") format("woff"),
    url("../fonts/icomoon.svg?gm7fsa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="ico-icon-"],
[class*=" ico-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-icon-search:before {
  content: "\e900";
}
.ico-icon-user:before {
  content: "\e901";
}
.ico-icon-cart:before {
  content: "\e902";
}

// Colors
$m-c: #122d3e;
$s-c: #274961;
$t-c: #656d78;
$bg-c: #122d3e;

@mixin g-c($m-c, $s-c) {
  background: $m-c;
  /* Old browsers */
  background: -moz-linear-gradient(-90deg, $m-c 0%, $s-c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left left,
    left right,
    color-sleft(0%, $m-c),
    color-sleft(100%, $s-c)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-90deg, $m-c 0%, $s-c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-90deg, $m-c 0%, $s-c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-90deg, $m-c 0%, $s-c 100%);
  /* IE10+ */
  background: linear-gradient(-90deg, $m-c 0%, $s-c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#122d3e', endColorstr='#274961', GradientType=0);
  /* IE6-9 */
}
