@import "../components/woocommerce";

.godaddy-reseller-products {
  ul.products {
    margin-top: 0;
    padding: 0;
    list-style: none;

    li.product {
      width: 48%;
      float: left;
      margin: 0 3.8% 26px 0;
      padding: 0;
      position: relative;
      padding-bottom: 30px;
      transition: all .3s;

      &:nth-child(even) {
        margin-right: 0;
      }

      .price {
        display: block;
      }

      .rstore-product-icons {
        margin: 20px 0;
        text-align: center;

        svg {
          height: 80px;
          margin: 0;
        }
      }

      .rstore-add-to-cart {
        background: #cc2241;
        padding: 10px 17px;
        margin: 12px 0 0 20px;
        color: #fff;
        font-size: 14px;
        font-family: 'Karla', sans-serif;
        border-radius: 4px;
        font-weight: 400;
        transition: all .3s;
        margin-right: 10px;
        border: 0;
        display: inline-block;
        position: relative;
        text-decoration: none;
        overflow: visible;
        left: auto;
        box-shadow: none;
        text-shadow: none;

        &::before {
          content: '\f07a';
          font: normal normal normal 12px/1 FontAwesome;
          margin-right: 6px;
        }
      }
    }
  }

  .inner-item-art {
    padding: 30px;
  }
}

.rstore-domain.widget_search {
  .search-form {
    margin-bottom: 30px;

    label {
      margin-bottom: 0;
    }

    .search-field {
      background-color: #fff;
      border: 1px solid #eee;
      border-radius: 2px;
      padding: 10px 20px;
      transition: all .3s ease-in-out;
      min-width: 270px;

      &:hover {
        border-color: #cc2241;
      }
    }

    .search-submit {
      background: #cc2241;
      padding: 10px 17px;
      color: #fff;
      font-size: 15px;
      font-family: 'Karla', sans-serif;
      border-radius: 2px;
      font-weight: 400;
      transition: all .3s;
      margin-left: 10px;
    }

    @media screen and (max-width: 767px) {
      label {
        width: 100%;
      }

      .search-field {
        width: 100%;
      }

      .search-submit {
        width: 100%;
        margin: 10px 0 0;
      }
    }
  }
}

.widget.rstore-product {
  .rstore-add-to-cart {
    background: #cc2241;
    border: 0;
    padding: 10px 17px;
    margin: 12px 0;
    color: #fff;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    border-radius: 4px;
    font-weight: 400;
    transition: all .3s;
    margin-right: 10px;

    &::before {
      content: '\f07a';
      font: normal normal normal 12px/1 FontAwesome;
      margin-right: 6px;
    }
  }
}

button.rstore-add-to-cart.button.btn.btn-primary {
  border: 0;
  line-height: 1;

  &:focus {
    background-color: #c51e39;
    outline: none;
    box-shadow: none;
  }
}