.block-sidebar-function {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  border: 1px solid #f3f5f9;
  padding: 30px;

  // Heading
  .wid-title,
  .wp-block-group__inner-container>h2,
  .wp-block-search__label {
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 1px;
      margin: 20px 0 22px;
      background: #d8dde6;
    }
  }

  .wid-title h2,
  .wid-title a,
  .wid-title h2>a,
  .wp-block-group__inner-container>h2,
  .wp-block-search__label {
    margin: 0;
    display: block;
    font-size: 18px !important;
    font-family: $m-f;
    font-weight: 600;
    color: #204056;
    line-height: 1.5em;

  }

  // Search Widget
  .wp-block-search__inside-wrapper {
    .wp-block-search__input {
      background: #fff;
      border: 1px solid #f3f5f9;
      font-family: Karla, sans-serif;
      font-size: 15px;
      padding: 11px 15px;
      font-weight: 400;
    }

    .wp-block-search__button {
      width: auto;
      color: #fff;
    }
  }

  // Lists
  ul,
  ol {
    li {

      a,
      span {
        font-family: "Karla", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #6d7d9a;
        transition: all 0.3s;
        text-decoration: none;
        word-break: break-word;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Footer Case
.widget-footer {

  // Search Widget
  .wp-block-search__label {
    margin: 0;
    display: block;
    font-size: 18px !important;
    font-family: $m-f;
    font-weight: 600;
    color: #fff;
    line-height: 1.5em;
    margin-bottom: 20px;
  }

  .wp-block-search__inside-wrapper {
    .wp-block-search__input {
      background: #132a39;
      border: 1px solid #132a39;
      color: #fff;
      font-family: Karla, sans-serif;
      font-size: 15px;
      padding: 11px 15px;
      font-weight: 400;
    }

    .wp-block-search__button {
      width: auto;
      color: #fff;
      margin-left: 10px;
    }
  }
}